body {
  height: 500px;
  background: #282537;
  background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
}

.title{
  color: white;
  text-align: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 728px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .video-container {
    z-index: 100;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

.video-container {
  z-index: 100;
  height: 400px;
  width: 720px;
}

.youtube-chat {
  display: flex;
  justify-content: center;
}

.footer{
  color: white;
  text-align: center;
}